#the-sing-wr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sh-wr {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
#the-sing {
  background-color: var(--color-light-2);
}
#the-content {
  width: 768px;
  max-width: 100%;
  padding: 1.75rem;
  margin-top: -10rem;
  background: linear-gradient(
    to bottom,
    var(--color-light-1),
    var(--transparent-light-8),
    var(--transparent-light-3),
    var(--transparent-light-1)
  );
  box-shadow: 5px 3px 5px 0 var(--transparent-dark-1);
  border-radius: 10px 10px 0 0;
}
.fim-wr {
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
}
.fim-wr img.find-this {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul.tags-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 8px;
  font-style: italic;
  font-size: 80%;
}
ul.tags-list li {
  position: relative;
  margin-right: 6px;
}
ul.tags-list li a {
  border-bottom: 1px dashed var(--transparent-dark-3);
}
ul.tags-list li:after {
  content: ",";
}
ul.tags-list li:last-child:after {
  display: none;
  margin-right: 0;
}

#the-content h3.other-head {
  font-size: 1.35rem;
}

/**
=========================
* Other Service Section
* @todo other service section
*=========================
*/

.page ul.srv-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page .other-content-wr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
}
.page ul.srv-list {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.page ul.srv-list li {
  padding: 1rem;
}
.page ul.srv-list li:nth-child(odd) {
  background-color: #eee;
}
.page ul.srv-list li a.the-btn {
  color: var(--color-accent-2-dark);
  padding: 0;
  border-bottom: 1px solid var(--color-accent-2-dark);
}

/**
=========================
* Contact Page
* @todo Contact Page
*=========================
*/

#contact-wr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
#contact-left,
#contact-right {
  padding: 8px;
}
#contact-right {
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 25px;
}
#contact-right iframe {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.val-wrong {
  font-size: 80%;
}
/**
=========================
* Gallery Page
* @todo GalleryPage
*=========================
*/
#gal-head-wr {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3.5rem;
}
#the-gal-wr {
  padding: 8px;
}
.gal-wr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.gal {
  flex-basis: calc(100% / 4 - 16px);
  max-width: 100%;
}
.gal a {
  width: 100%;
  aspect-ratio: 16/9;
}
.gal img.find-this {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/**
=========================
* Media query SingleCss
* @todo SingleCss
*=========================
*/

/**
=========================
* 991px
* @todo 991px
*=========================
*/
@media screen and (max-width: 991px) {
  .gal {
    flex-basis: calc(100% / 3 - 16px);
  }
}

/**
=========================
* 600px
* @todo 600px
*=========================
*/
@media screen and (max-width: 600px) {
  #the-content {
    margin-top: -8rem;
  }
  .gal {
    flex-basis: calc(100% / 2 - 16px);
  }
}

/**
=========================
* 399px
* @todo 399px
*=========================
*/
@media screen and (max-width: 399px) {
  #the-content {
    margin-top: 0;
  }
  .gal {
    flex-basis: calc(100% - 16px);
  }
}
